  <body ng-controller="GarageSaleController" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">

        <!-- Fix for old browsers -->
        <script src="http://nervgh.github.io/js/es5-shim.min.js"></script>
        <script src="http://nervgh.github.io/js/es5-sham.min.js"></script>
        <!--- <script src="../console-sham.js"></script> --->


        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

        <!--<script src="../bower_components/angular/angular.js"></script>-->
        

        <style>
            .my-drop-zone { border: dotted 3px lightgray; }
            .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
            .another-file-over-class { border: dotted 3px green; }
            html, body { height: 100%; }
            #leftNewGarageSale{float:left;
                                width:630px;}
            #rightNewGarageSale{float:left;
                                width:500px;}
            input[type='checkbox']{
                width:10px;
            }

            input{
                width: 500px;
            }
            #garage_sale_zip_code{
                width:250px;
            }
            textarea.form-control {
                width:500px;
                height:250px;
                border-radius: 3px;
            }
            #garage_sale_title{
                width: 500px;
            }

            select {
                border:1px solid #ccc;
                vertical-align:top;
                height:35px;
            }

            .input-group.date input {
                width: 470px;
            }
            .dateFormat{
                width:150px;
            }
            .allDatesFormat{
                width:500px;
            }
            .allDatesFloat{
                float:left;
            }
            .more{
                width: 200px;
            }
            h4{
                font-family: 'Lobster';
                text-align: center;
                font-size: 40px;
            }

        </style>
        <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover(); 
        });

        $(function () {
                        $('#datetimepicker1').datetimepicker();
                        $('#datetimepicker2').datetimepicker();
                        $('#datetimepicker3').datetimepicker();
                    });
        </script>
        <div hidden ng-model='userId'><%= @user.id  %>'></div>
        <div class='container'>
        <h4>New Garage Sale</h4><br>
        <%= form_for [@user, @garage_sale], html: { multipart: true } do |f| %>
        <div id='leftNewGarageSale'>
            <%= f.label "Posting Title"%><br />
            <%= f.text_field :title, :class => 'form-control', :'ng-model' => 'garage_sale.title' %><br />
            <%= f.label "Description" %><br />
            <%= f.text_area :description, :class => 'form-control',  :'ng-model' => 'garage_sale.description'  %>
            <a tabindex="0" id='example' class="btn" role="button" data-toggle="popover" data-trigger="focus" data-content="Your description can include items for sale, prices, driving directions, or parking restrictions"><%= image_tag('questionMark.png')%>  What should My Description Have? </a><br><br><br>
              <p>Choose up to 3 dates to host your garage sale</p>
              <%= f.fields_for :duration_times do |builder| %>
              <div class='allDatesFormat'>
                <div class='allDatesFloat'>
                <%= builder.label :date, 'Date'%><br>
                <%= builder.date_field :date,  :class => 'form-control dateFormat more'%>
                </div>
                <div class='allDatesFloat'>
                <%= builder.label :start_time, 'Start Time'%><br>
                <%= builder.time_field :start_time, :class => 'form-control dateFormat'%>
                </div>
                <div class='allDatesFloat'>
                <%= builder.label :end_time, 'End Time'%><br>
                <%= builder.time_field :end_time, :class => 'form-control dateFormat' %>
                </div><br>
              </div><br>
              <% end %>
            <!--   <input type="time" name="garage_sale[duration_times_attributes][0][start_time]" id="garage_sale_duration_times_attributes_0_start_time">
                 -->
        </div>
        <div id='rightNewGarageSale'>
            <%= f.label "Address" %><br />
            <%= f.text_field :address, :class => 'form-control',  :'ng-model' => 'garage_sale.address'  %><br />
            <%= f.label "City" %><br />
            <%= f.text_field :city, :class => 'form-control',  :'ng-model' => 'garage_sale.City'  %><br />
            <div style='width:500px' class='form-group'>
                <div style='float:left'>
            <%= f.label "State" %><br />
            <%= f.select :state, options_for_select(us_states), :class => 'form-control',  :'ng-model' => 'garage_sale.state' %><br />
                </div>
                <div style='float:right'>
            <%= f.label "Zip Code" %><br />
            <%= f.text_field :zip_code, :class => 'form-control',  :'ng-model' => 'garage_sale.zip_code'  %><br />
                </div>
            </div>
            <div class='form-group'>
            <%= f.label "Phone Number" %><br />
            <%= f.telephone_field :phone_number, class: 'form-control',  :'ng-model' => 'garage_sale.phoneNumber'  %><br />
            <%= f.label "Email" %><br />
            <%= f.email_field :email, :class => 'form-control',  :'ng-model' => 'garage_sale.email'  %><br /><br>
            <%= f.label "Users Can Contact Me With:" %><br />
            <%= f.check_box :can_email,  :'ng-model' => 'garage_sale.can_email'  %>
            <%= f.label "Email" %><br />
            <%= f.check_box :can_call,  :'ng-model' => 'garage_sale.can_call'  %>
            <%= f.label "Call" %><br />
            <%= f.check_box :can_text,  :'ng-model' => 'garage_sale.can_text'  %>
            <%= f.label "Text" %><br />
            </div>
            <%= f.label :has_items, "Would you like to sell items directly through our site?" %><br>
            <p>(You will be able to post your items on the next page)</p>
            <%= f.check_box :wants_to_sell %>
            <%= f.label "Yes" %>
        </div><br>
        <%= f.submit 'Post Garage Sale', :class => 'btn btn-default'%>
        <% end %>
        </div>
        <br><br>

<!--         <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Select Photos</h3>
                    <div ng-show="uploader.isHTML5">
                        <!-- 3. nv-file-over uploader="link" over-class="className" -->
                        <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}"
                        <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
                            <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
                                Drag Images Here
                            </div>
                        </div>
                    </div>
                    <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}"
                    <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>
                </div>

                <div class="col-md-9" style="margin-bottom: 40px">

                    <h3>Upload Queue</h3>
                    <p>Queue length: {{ uploader.queue.length }}</p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div>
                        <div>
                            Queue progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div><br> -->

        <button type='submit' ng-click='hello(garage_sale, userId)'></button>

    </body>
</html>





