<style type="text/css">
            .dateFormat{
                width:150px;
            }
            .allItemsFormat{
                width:500px;
            }
            .allItemsFloat{
                float:left;
            }
            .more{
                width: 200px;
            }
            h4{
                font-family: 'Lobster';
                text-align: center;
                font-size: 40px;
            }
            textarea.form-control {
                width:500px;
                height:150px;
                border-radius: 3px;
            }
</style>

<h4>New Item for Sale</h4>
    <div class='container'>
        <% now = Time.new %>
        <div style='width:500px; float:left';>
        <%= form_for [@user, @garage_sale, @item], html: { multipart: true } do |f| %>  
        <%= f.label "Posting Name"%><br />
        <%= f.text_field :name, :class => 'form-control', :'ng-model' => 'item.name' %>
        <%= f.label "Price"%><br />
        <%= f.number_field :price, :class => 'form-control',:min => "0.01", :step => "0.01", :'ng-model' => 'item.price' %><br>
        <p>When can the buyer pick up your item? (Select up to 3 times)</p>
        <%= f.fields_for :duration_times do |builder| %>
              <div class='allItemsFormat'>
                <div class='allItemsFloat'>
                <%= builder.label :date, 'Date'%><br>
                <%= builder.date_field :date,  :class => 'form-control dateFormat more'%>
                </div>
                <div class='allItemsFloat'>
                <%= builder.label :start_time, 'Start Time'%><br>
                <%= builder.time_field :start_time, :class => 'form-control dateFormat'%>
                </div>
                <div class='allItemsFloat'>
                <%= builder.label :end_time, 'End Time'%><br>
                <%= builder.time_field :end_time, :class => 'form-control dateFormat' %>
                </div><br><br>
              </div><br>
              <% end %>
        </div>
        <div style='width:500px; float:right;'>
        <%= f.label "Description" %><br />
        <%= f.text_area :description, :class => 'form-control',  :'ng-model' => 'item.description'  %><br>
        <%= f.submit 'Post Your Item', :class => 'btn btn-default'%>
        </div>
        <% end %>
    </div>


<!--         <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Select Photos</h3>
                    <div ng-show="uploader.isHTML5">
                        <!-- 3. nv-file-over uploader="link" over-class="className" -->
                        <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}"
                        <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
                            <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
                                Drag Images Here
                            </div>
                        </div>
                    </div>
                    <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" 
                    <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>
                </div>

                <div class="col-md-9" style="margin-bottom: 40px">

                    <h3>Upload Queue</h3>
                    <p>Queue length: {{ uploader.queue.length }}</p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div>
                        <div>
                            Queue progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div> -->
