<div ng-controller='HomeController' class='container'>
<div style='width:700px; margin:auto; margin-top:50px'>
  <img style='width:300px; float:left; border-radius:20px; margin-right:20px; margin-top:10px;' src='<%= @item.image_url %>'>
  <div style='width:300px; float:left;'>
    <h4><%= @item.name  %></h4>
    <p><%= number_to_currency(@item.price)  %></p>
    <div>Pickup Times:</div>
    <% @item.duration_times.each do |a|  %>
        <span class='glyphicon glyphicon-time'></span> <%= a.date.to_s(:long)  %> <%= a.start_time.to_s (:time)  %> - <%= a.end_time.to_s(:time)  %><br>
        <% end %><br>
    <div><%= @item.description %></div>
  </div>
</div>
<!-- <button type='button' ng-click='addToCart()' name='Add To Cart' value='Purchase'>Purchase</button> -->



<script src="https://checkout.stripe.com/checkout.js"></script>



<script>
  var handler = StripeCheckout.configure({
    key: 'pk_test_Up5fQXvaajqiTY45GPGMGNLC',
    image: '/img/documentation/checkout/marketplace.png',
    locale: 'auto',
    token: function(token) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
    }
  });

  $('#customButton').on('click', function(e) {
    // Open Checkout with further options
    handler.open({
      name: 'Demo Site',
      description: '2 widgets',
      amount: 2000
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>


<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @item.name %>"
          data-amount="<%= @item.price.to_s.split('.').join.to_i %>"
          data-locale="auto"></script>
  <% end %>

  <script type="text/javascript">
    // This identifies your website in the createToken call below
    Stripe.setPublishableKey('pk_test_Up5fQXvaajqiTY45GPGMGNLC');
    // ...
  </script>

</div>