<div ng-controller='HomeController' class='container'>
<%= @item.name  %>
<%= @item.description  %>
<%= @item.price  %>
<!-- <button type='button' ng-click='addToCart()' name='Add To Cart' value='Purchase'>Purchase</button> -->



<script src="https://checkout.stripe.com/checkout.js"></script>



<script>
  var handler = StripeCheckout.configure({
    key: 'pk_test_Up5fQXvaajqiTY45GPGMGNLC',
    image: '/img/documentation/checkout/marketplace.png',
    locale: 'auto',
    token: function(token) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
    }
  });

  $('#customButton').on('click', function(e) {
    // Open Checkout with further options
    handler.open({
      name: 'Demo Site',
      description: '2 widgets',
      amount: 2000
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>


<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $1.22</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Garage Sale Item"
          data-amount="122"
          data-locale="auto"></script>
<% end %>

</div>